.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  text-transform: uppercase;

  a {
    text-decoration: none;
    font-size: 20px;
    line-height: 0;
    display: inline-block;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }

  &__navigation {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    align-items: baseline;
    gap: 5vw;
  }
}